.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #cdcf8b;
}

.grass {
    background-color: #48D0B0;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #76BDFE;
}

.electric {
    background-color: #FFD76F;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #c5b58a;
}

.flying {
    background-color: #b8aae0;
}

.poison {
    background-color: #ce76ce;
}

.fighting {
    background-color: #d19b82;
}

.psychic {
    background-color: #d87392;
}

.dark {
    background-color: #c5a38c;
}

.rock {
    background-color: #cfbd6d;
}

.bug {
    background-color: #8dc756;
}

.ghost {
    background-color: #a79eb8;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #8a6bda
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    
    padding: .5rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
}

.pokemon:after {
    position: absolute;
    content: "";
    background-image: url("./1821245.png");
    opacity: 0.2;
    background-size: cover;
    width: 300px;
    height: 300px;
    top: 10px;
    right: -150px;
    filter: invert(1); 
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 1rem 1rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}