.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #cdcf8b;
}

.grass {
    background-color: #48D0B0;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #76BDFE;
}

.electric {
    background-color: #FFD76F;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #c5b58a;
}

.flying {
    background-color: #b8aae0;
}

.poison {
    background-color: #ce76ce;
}

.fighting {
    background-color: #d19b82;
}

.psychic {
    background-color: #d87392;
}

.dark {
    background-color: #c5a38c;
}

.rock {
    background-color: #cfbd6d;
}

.bug {
    background-color: #8dc756;
}

.ghost {
    background-color: #a79eb8;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #8a6bda
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 11;

}

.pokemon .detail .types,
aside .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type,
aside .type {
    color: #fff;
    padding: .5rem 0.7rem;
    margin: .25rem 0;
    font-size: 0.8rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    width: fit-content;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
}

.pokemon:after {
    position: absolute;
    content: "";
    background-image: url("./1821245.png");
    opacity: 0.2;
    background-size: cover;
    width: 300px;
    height: 300px;
    top: 10px;
    right: -150px;
    filter: invert(1);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 1rem 1rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

aside {
    margin: 0px;  
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100%;
    height: 150vh;
    background-color: rgb(128, 128, 128);
    z-index: 100;
    transition: left 0.3s ease-in-out;
}

aside.ativo {
    left: 0px;
}

aside header {
    position: relative;
    display: block;
    padding: 20px;
    padding-top: 30px;
}

aside header h1{
    margin: 10px;
    color: white;

}

aside header::after {
    position: absolute;
    top: 30px;
    right: -30px;
    content: "";
    background-image: url("./1821245.png");
    opacity: 0.2;
    background-size: cover;
    width: 300px;
    height: 300px;
    filter: invert(1);
    z-index: -1;
}

aside .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside .buttons button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    width: 40px;
    height: 30px;
    scale: 2;
}



aside .types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
}

aside .types .type {
    margin-right: 10px;
}

aside .id {
    position: absolute;
    right: 30px;
    top: 80px;
    color: white;
}

aside .pokemonImg {
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png");
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    z-index: 100;
}

main.description {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
    margin-top: 400px;
    transition: margin-top 0.4s ease-in-out;
}

aside.ativo main.description{
    margin-top: -70px;
}

main .buttonsAreas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

main .buttonsAreas button{
    background: none;
    border: none;
    padding-bottom: 10px;
}

main .buttonsAreas button.ativo {
    border-bottom: 4px solid #6c79db ;

}

main .areasDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

main .areasDescription .area{
    width: 0vw;
    height: 100%;
    overflow: hidden;
}

main .areasDescription .area.ativo{
    width: 100vw;
}

main .areasDescription .area div  {
    width: 100vw;
    height: 100%;
    
}

main .areasDescription .area .about  {
    background-color: rgba(0, 0, 0, 0.082);
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}